@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *::before, *::after{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
}

:root{
  --bg-background-option: #393939;
  --bg-dark-color: #121314;
  --bg-not-choose: #191919;
  --color-text-white: #d8d8d8;
  --main-brand-color: #f7941d;
  --text-menu-color: #dadada;
  --bg-check-option: #7e7e7e;
  --bg-hover-option: #33343c;
  --boder-header-table-color: #454545;
  --bg-header-table-color: #28292f;
  --bg-basic: #0000;
  --bg-body-dark: #202127;
  --bg-hover-stickytable: #222;
  --bg-highlight-stickytable: #494949;
  --bg-highlight-price: #373740;
  --table-marched-price: #141414;
  --TC-color: #ffd900;
  --tran-color: #ff25ff;
  --san-color:#1eeeee;
  --gia-tang-color: lime;
  --gia-giam-color: #ff3737;
}

body{
  font-family: Helvetica, Arial, Sans-Serif;
  color:var(--color-text-white);
  background-color: var(--bg-body-dark); 
}

/* Tùy chỉnh thanh cuộn */
body::-webkit-scrollbar {
  width: 10px; /* Chiều rộng thanh cuộn */
  background-color: #F5F5F5; /* Màu nền của thanh cuộn */
}

/* Tùy chỉnh thumb (phần có thể kéo) */
body::-webkit-scrollbar-thumb {
  background-color: #3e3e3e;
  border-radius: 5px; 
}

/* Tùy chỉnh track (phần bên dưới của thanh cuộn) */
body::-webkit-scrollbar-track {
  background-color: #000000e1;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* Hiệu ứng bóng */
}

/* ============MY BUILD========================= */

.w-168px{
  width: 168px;
}

.w-84px{
  width: 84px;
}

.rounded-20px{
  border-radius: 20px;
}

.rounded-3px{
  border-radius: 3px;
}

.pl-5px{
  padding-left: 5px;
}

.text-13px{
  font-size: 13px;
}

.h-30px{
  height: 30px;
}

.border-454545{
  border-color: var(--boder-header-table-color);
}